<h1>Future Graphics</h1>
<a href="/original"><img src="/img/index/s.jpg"></a>
<a href="/original">Original images</a>
<a href="/colour"><img src="/img/index/colour_s.jpg"></a>
<a href="/colour">Colour</a>
<a href="/pencil"><img src="/img/index/pencil_s.jpg"></a>
<a href="/pencil">Pencil</a><br>
Contact us at <a href="mailto:awawfumin@gmail.com">awawfumin@gmail.com</a> if you're interested in creating one of these for your own photos!
